@import 'grid';

:root {
  --link-color: #256798;
  --link-color-dark: #215c88;
  --link-underline-color: #add7ea;
  --link-underline-color-light: #bcdceb;
  --link-underline-color-lighter: #c6e4f2;
  --color-black: #282b42;
  --color-gray: #727483;
  --color-highlight: #fdebcc;
  --color-border: #ebecf2;
}

::selection {
  background: var(--color-highlight);
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

figcaption, figure, footer, header, main, nav, section {
  display: block;
}

a {
  font-weight: 600;
  text-decoration: none;
}

a:active, a:hover {
  outline-width: 0;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Assistant', sans-serif;
  color: var(--color-gray);
  line-height: 1.55;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

p {
  color: inherit;
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0 2rem 0 0;
  }
}

.container {
  max-width: 76rem;
  margin: auto;
  width: 100%;
  padding: 0 1rem;
}

nav {
  position: absolute;
  padding: 1.25rem 0;
  width: 100%;
  span {
    color: var(--color-black);
    font-weight: 600;
  }
}

nav .grid > [class*="column-"] {
  padding: 0 1rem;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

nav ul li a:hover, nav ul li a:focus {
  color: var(--color-black);
}

nav ul li:last-child {
  margin: 0;
}

nav ul li a {
  position: relative;
  display: inline-block;
  color: var(--color-gray);
  transition: color 0.2s ease;
  font-weight: 600;
}

.media {
  display: flex;
  align-items: center;
}

.avatar {
  display: none;
  img {
    border-radius: 50%;
  }
}

.avatar-content {
  position: relative;
}

.intro {
  padding: 9rem 0 2rem;
}

h1, h2, h3 {
  color: var(--color-black);
}

h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.15;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 1.5rem 0 0;
}

h3 {
  font-size: 1.5rem;
  margin: 1.25rem 0 0.5rem;
  padding: 0;
}

p.lead {
  font-size: 1.125rem;
}

.link {
  color: var(--link-color);
  display: inline;
  box-shadow: inset 0 -0.125rem 0 var(--link-underline-color);
  transition: box-shadow 0.15s ease;
  &:hover {
    color: var(--link-color-dark);
    box-shadow: inset 0 -0.375rem 0 var(--link-underline-color-light);
  }
  &:active, &:focus {
    color: var(--link-color-dark);
    box-shadow: inset 0 -1.75rem 0 var(--link-underline-color-lighter);
  }
}

#work {
  padding: 5rem 0 3rem;
  a {
    display: block;
  }
}

a figure {
  margin-bottom: 1.5rem;
}

figure .portfolio-img {
  position: relative;
  clip-path: inset(0);
  overflow: hidden;
  transition: clip-path 300ms ease;
}

figure:hover .portfolio-img {
  clip-path: inset(0.5rem);
}

figure figcaption p {
  margin: 0;
  color: var(--color-gray);
  font-weight: 400;
}

#articles .post {
  padding: 1.375rem 0;
  border-bottom: 1px solid var(--color-border);
  display: block;
}

#articles p {
  margin: 0;
}

.post-title {
  font-size: 1.25rem;
  line-height: 1.4;
}

#about .container, #writing .container {
  border-top: 0.2rem solid var(--color-border);
  padding: 3rem 1rem;
}

footer nav {
  padding: 1.75rem 0 2.75rem;
}

footer nav ul {
  justify-content: flex-start;
}

footer nav ul li a {
  font-weight: 600;
}

nav span {
  color: var(--color-black);
  font-weight: 600;
}

footer nav .grid > [class*="column-"] {
  padding: 0.25rem 1rem;
}

@media (min-width: $sm) {
  nav .grid > [class*="column-"] {
    padding: 0.25rem 1rem;
  }

  nav ul {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }

  ul li {
    margin: 0 2.5rem 0 0;
  }

  .avatar {
    display: block;
    width: 60px;
    height: 60px;
  }

  .media {
    width: 60px;
    height: 60px;
  }

  .media:hover .avatar-content {
    opacity: 1;
    transform: translateX(4.5rem);
    transition: transform 200ms ease, opacity 300ms ease;
  }

  .avatar-content {
    z-index: -1;
    opacity: 0;
    position: absolute;
    transform: translateX(3rem);
    transition: transform 300ms ease, opacity 150ms ease;
  }
}

@media (min-width: $md) {
  body {
    font-size: 1.125rem;
  }

  nav {
    padding: 1.5rem 0;
  }

  nav ul li a, nav span {
    font-size: 17px;
  }

  .intro {
    padding: 13rem 0 0rem;
  }

  h1 {
    font-size: 3rem;
    max-width: 50rem;
  }

  h2 {
    margin-top: 0.85rem;
    font-size: 2.125rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p.lead {
    font-size: 1.375rem;
    max-width: 44rem;
  }

  figure figcaption p {
    width: 100%;
    max-width: 500px;
  }

  #articles .post .post-title {
    margin: 0 0 0.5rem;
  }

  .post-title {
    font-size: 1.325rem;
    line-height: 1.3;
  }

  footer #copyright {
    display: flex;
    justify-content: flex-end;
  }
}