figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

img {
  border-style: none;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background: #fffdfd;
  overflow-x: hidden;
  color: #58585a;
  font-family: 'Assistant', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  color: #2e2f35;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: #2e2f35;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  font-size: 1.875rem;
  line-height: 1.3;
}
h3 {
  margin: 1.5rem 0 0.5rem 0;
  padding: 0;
  color: #2e2f35;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
  line-height: 1.1;
}

ul {
  margin: 0;
  list-style-position: outside;
  list-style-image: none;
}

p, figure {
  padding: 0;
  margin: 0 0 1.45rem 0;
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.container {
  margin: auto;
  padding: 0 1.125rem;
  max-width: 75rem;
  width: 100%;
}

.hero {
  height: 85vh;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

nav {
  z-index: 1;
  background: transparent;
  position: absolute;
grid-area: nav;
padding: 1.5rem 0;
width: 100%;
}

ol, ul {
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

ul li {
  margin: 0 1.75rem 0 0;
}

nav ul li:nth-child(2) {
  margin: 0;
}

a {
  color: #2e2f35;
  text-decoration: none;
}

nav li a {
  position: relative;
}

nav li a::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #34353b;
  transition: all 0.3s ease-in-out;
}

nav li a:hover::before {
  width: 100%;
}

.social {
  margin-bottom: 1.25rem;
}

.social li a {
  position: relative;
  text-decoration: none;
}

.social li a::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #34353b;
  transition: all 0.3s ease;
}

.social li a:hover {
  color: #000;
}

.social li a:hover::before {
  background: #000;
}

.portfolio-content {
  padding: 6.45rem 0 0 0;
}

figcaption h2 {
  color: #2e2f35;
}

figcaption p {
  margin: 0 0 3rem 0;
}

.social li {
  display: inline-block;
}

.container {
	opacity: 0;
	animation: fadeContent 0.5s ease-in-out forwards;
}

@keyframes fadeContent {
	100% {
		opacity: 1;
	}
}

.portfolio-img {
  transition: opacity 0.35s ease-in-out;
}

.portfolio-img:hover {
    opacity: 0.75;
}

.page-content {
  padding: 3rem 0;
}

.circle {
  display: none;
}

footer {
  text-align: center;
}

@media (min-width: 62rem) {
  body {
    font-size: 1.25rem;
  }

  nav {
    padding: 2rem 0;
  }

  h1 {
    font-size: 3.25rem;
    width: 61rem;
    max-width: 100%;
  }

  h2 {
    font-size: 2.5rem;
line-height: 1.3;
margin-top: 2rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .hero {
    height: 85vh;
  }

  .circle {
    position: absolute;
    z-index: -1;
    display: block;
    top: -20vh;
    left: 62vw;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background: linear-gradient(90deg, #ec77ab 0%, #7873f5 100%);
    opacity: 0.125;
  }

}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap; }
  .grid > [class*="column-"] {
    display: block; }

.column-xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }
.column-xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

@media (min-width: 62rem) {
  .grid > [class*="column-"] {
    padding: 1rem; }
  .column-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .column-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .column-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .column-md-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto; }
    .grid > [class*="column-"] {
      margin: 0;
      max-width: 100%; }
  .column-xs-5 {
    grid-column-start: span 5;
    grid-column-end: span 5; }
  .column-xs-7 {
    grid-column-start: span 7;
    grid-column-end: span 7; }
  .column-xs-12 {
    grid-column-start: span 12;
    grid-column-end: span 12; }
  @media (min-width: 62rem) {
    .column-md-3 {
      grid-column-start: span 3;
      grid-column-end: span 3; }
    .column-md-6 {
      grid-column-start: span 6;
      grid-column-end: span 6; }
    .column-md-9 {
      grid-column-start: span 9;
      grid-column-end: span 9; }
    .column-md-12 {
      grid-column-start: span 12;
      grid-column-end: span 12; } }
  }